.navigation__container {
    flex: 1;
    min-width: 200px;
    background-color: var(--nav-panel);
    transition: ease-in-out 200ms;
}

.branding {
    display: flex;
    flex-direction: row;
    margin: 70px 0 70px 18px;
}

.branding__logo {
    margin-left: 15px;
}

.navigation__container h3, .navigation__container p {
    color: white;
}

.branding i:not(#close__btn) {
    color: var(--secondary-color);
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#close__btn {
    display: none;
}

.nav__panel {
    list-style-type: none;
}

.nav__menu {
    list-style-type: none;
    margin: 0 7px 0 7px;
}

.nav__item {
    color: #5F5E5E;
    margin: 20px 0 20px 0;
    padding: 10px 0 10px 0;
    padding-left: 20px;
    font-weight: 600;
    transition: ease-in-out 100ms;
    font-size: 14px;
}

.nav__item.active {
    background-color: var(--secondary-color);
    border-radius: 2px;
    color: var(--content-pane);
    cursor:pointer;
    transition: ease-in-out 100ms;
}

.nav__item:hover:not(.active) {
    color: #e9e9e9;
    cursor:pointer;
    transition: ease-in-out 200ms;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-500px);
        transform-origin: left;
        flex: 0;
    } to {
        transform: scaleX(1);
        flex: 1;
    }
}

@media screen and (min-width: 800px) {
    .navigation__container {
        position: relative;
    }
}

@media screen and (max-width: 800px) {
    .navigation__container {
        position: absolute;
        height: 100vh;
        width: 70vw;
    }

    #close__btn {
        display: block;
        margin-left: 80%;
        margin-top: 10%;
        margin-bottom: auto;
        transition: all ease-in-out 200ms;
        font-size: 25px;
    }

    #close__btn:hover {
        color: #e9e9e9;
        transition: all ease-in-out 200ms;
        cursor: pointer;
    }
}